*           text=auto
*.csproj    text eol=lf
*.cs        text eol=lf
*.cshtml    text eol=lf
*.razor     text eol=lf
*.js        text eol=lf
*.ts        text eol=lf
*.json      text eol=lf
*.css       text eol=lf
