@inject IJSRuntime JS

<div class="@(myClass)" @onscroll="OnScroll">
    <img c="Nav-logo"
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1920px-Netflix_2015_logo.svg.png"
         alt="Netflix Logo" />
    <img class="Nav-avater"
         src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png"
         alt="Avatar" />
</div>

@code {
    string myClass = "";

    public string @class { get; set; }

    bool IsShow = false;

    async Task OnScroll(EventArgs _)
    {
        System.Console.WriteLine("scrolled");
        int windowScrollY = await this.JS.InvokeAsync<int>("GetScrollY");

        this.IsShow = windowScrollY > 100;
    }
}
